<section class="h-100">
    {{#or role.isAdmin role.isArtist}}
    <div class="container mt-4">
        <div class="mx-3">
            <a href="/tracks/new" class="btn btn-primary btn-circle"><i class="fa-solid fa-plus m-auto"></i></a>
        </div>
    </div>
    {{/or}}
    <div class="container mt-4 p-4">
        {{#if results}}
        {{> searchResults results=results }}
        {{else}}
        {{> trackCard tracks=tracks playlists=playlists }}
        {{/if}}
    </div>
</section>
