<div class="container my-5">
    <div class="card my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <h5 class="card-title">
                        {{album.name}}
                    </h5>
                </div>
                <div class="col-12">
                    <h6 class="card-subtitle text-muted fst-italic">{{album.releaseDate}}</h6>                                        
                </div>
            </div>           
            <div class="mb-4">
                <h6 class="card-subtitle mt-3 mb-2 text-muted">Canciones</h6>
                <div class="dropdown-divider"></div>
                {{#if album.tracks}}
                {{> trackCard tracks=album.tracks playlists=playlists }}
                {{else}}
                <p>El album no tiene canciones</p>
                {{/if}}
            </div>

        </div>
    </div>
</div>