<div class="container h-100 my-4">
    <div class="row">
        <div class="col-12">        
            <h1 class="panel-title">Spiller Music</h1>
        </div>        
    </div>
    <div class="row">
        <div class="col-12">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, repellendus! Molestiae quis sapiente nulla. Eius beatae hic accusantium quas accusamus placeat, facere pariatur porro esse illo perferendis cumque vel eum?
            Mollitia earum quia cumque saepe, consequatur illum, velit deserunt placeat vero assumenda labore voluptatem iure delectus repellat repellendus itaque cupiditate aliquid accusantium maxime recusandae similique officia rem facilis? Hic, commodi?</p>
        </div>
    </div>
</div>