<div class="container h-100 my-4 ">
    <div class="container-fluid">
        <div class="text-center mt-5">
            <img src="/img/SpillerLogoRedondo.png" alt="" class="logo logo-efect">
        </div>
        <div class="text-center">
            <h1 class="text-center landing-title">MÚSICA SIN COPYRIGHT, ES MÚSICA SIN PRECUPACIONES.</h1>
        </div>        
    </div>
</div>