{{!-- Si se encuentra alguna cancion --}}
{{#if results.tracks}}
<div class="tracks-found">
    <h3>Canciones encontradas</h3>
    <div class="dropdown-divider"></div>
    {{> trackCard tracks=results.tracks playlists=results.playlists }}
</div>
{{/if}}
{{!-- Si se encuentra algun artista --}}
{{#if results.artists}}
<div class="artists-found">
    <h3>Artistas encontrados</h3>
    <div class="dropdown-divider"></div>
    {{!-- Recorremos los artistas encontrados --}}
    {{#each results.artists as |artist|}}
    <a class="text-decoration-none" href="/artists/{{artist._id}}">
        <div class="card text-white bg-dark mb-3" data-track-id="{{artist._id}}">
            <div class="row">
                <div class="col-md-10">
                    <div class="card-body">
                        {{!-- Nombre del artista --}}
                        <h6 class="card-title">{{artist.name}}</h6>
                        {{!-- Generos del artista --}}
                        <p class="card-text"><small class="text-muted">{{join artist.genres ', '}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</div>
{{/if}}