{{!-- Vista de about us --}}
    <div class="mt-5">
        <h5 class="card-title text-center text-white">¿Quien está detrás de Spiller?</h5>
        <p class="text-center text-white">Nosotros somos dos estudiantes de desarrollo de aplicaciones multiplataforma y decidimos
            realizar Spiller como trabajo de fin de grado.</p>
        <div class="row">
            <div class="col-6 text-center">
            <h2 class="text-white">Pedro Jorquera</h2>
            <a href="https://github.com/pedrojorquera"><img src="/img/perfil-Velico.jpg" width="300" height="300"></a>
            </div>
            <div class="col-6 text-center">
            <h2 class="text-white">Rafael Popescu</h2>
            <a href="https://github.com/DenixJG"><img src="/img/perfil-DenixJG.jpg" width="300" height="300"></a>
            </div>
        </div>
    </div>