{{!-- Vista de about us --}}
<div class="card  mb-3">
    <div class="card-header bg-primary text-white">
        Sobre nosotros
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">¿Quien está detrás de Spiller Music?</h5>
        <p class="card-text">Nosotros somos dos estudiantes de desarrollo de aplicaciones multiplataforma y decidimos
            realizar Spiller Music como trabajo de fin de grado.
        <div class="row">
            <div class="col-6 text-center">
            <h2>Pedro Jorquera</h2>
            <a href="https://github.com/pedrojorquera"><img src="/img/perfil-Velico.jpg" width="300" height="300"></a>
            </div>
            <div class="col-6 text-center">
            <h2>Rafael Popescu</h2>
            <a href="https://github.com/DenixJG"><img src="/img/perfil-DenixJG.jpg" width="300" height="300"></a>
            </div>
        </div>
        </p>
    </div>