{{!-- Vista de about us --}}
<div class="card  mb-3">
    <div class="card-header bg-primary text-white">
        Sobre nosotros
    </div>
    <div class="card-body">
        <h5 class="card-title text-center">¿Quien está detrás de Spiller Music?</h5>
        <p class="card-text">Nosotros somos dos estudiantes de desarrollo de aplicaciones multiplataforma y decidimos
            realizar Spiller Music como trabajo de fin de grado
            <br>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam libero vero necessitatibus impedit
            dolores et nihil odio laudantium amet iste harum officia repudiandae ullam, doloremque nam, repellat ad ex
            distinctio?
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vitae excepturi, fugiat saepe quia amet
            tenetur temporibus. Reiciendis recusandae aliquid, eum maxime mollitia laudantium perferendis quam aperiam
            assumenda commodi? Voluptas.
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vitae excepturi, fugiat saepe quia amet
            tenetur temporibus. Reiciendis recusandae aliquid, eum maxime mollitia laudantium perferendis quam aperiam
            assumenda commodi? Voluptas.
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vitae excepturi, fugiat saepe quia amet
            tenetur temporibus. Reiciendis recusandae aliquid, eum maxime mollitia laudantium perferendis quam aperiam
            assumenda commodi? Voluptas.
            <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vitae excepturi, fugiat saepe quia amet
            tenetur temporibus. Reiciendis recusandae aliquid, eum maxime mollitia laudantium perferendis quam aperiam
            assumenda commodi? Voluptas.
        </p>
    </div>