{{!-- Vista de terms and conditions --}}
<div class="letters-white">
<h1 id="términos-y-condiciones-de-uso-de-spiller">Términos y Condiciones de Uso de spiller</h1>
<p>Bienvenido a spiller®, un servicio proporcionado por spiller Global Limited &amp; Co. KG (en adelante,
    <strong>"spiller"</strong>, <strong>"nosotros", "nos"</strong> o <strong>"nuestro"</strong>).
</p>
<p style="color: black; font-style: italic;"><strong>"spiller"</strong> es un producto en desarrollo por lo que no provee ninguna garantia.</p>
<p>Estos Términos y Condiciones de Uso regulan el uso por su parte de spiller.com y de m.spiller.com (conjuntamente, la
    <strong>"Página Web"</strong>), nuestras aplicaciones para móvil o de escritorio (nuestras
    <strong>\"Apps\"</strong>) y todos los reproductores, complementos (<em>widgets</em>), herramientas, funciones,
    aplicaciones, datos y/o información, programas y/o aplicaciones informáticas, interfaz de programación de
    aplicaciones (APIs en sus siglas en inglés) (APIs que pueden estar sujetas a Términos y Condiciones de Uso de las
    API de forma independiente) y otros servicios proporcionados por spiller (los <strong>"Servicios"</strong>).
</p>
<p>Estos Términos y Condiciones de Uso, junto con nuestras Normas de la Comunidad y otros términos específicamente
    mencionados en cualquiera de dichos documentos, todo ello incorporado por referencia dentro de estos Términos y
    Condiciones de Uso, constituye un contrato legalmente vinculante (el "<strong>Contrato</strong>") entre usted y
    spiller en relación con el uso por su parte de la Página Web, las Apps y los Servicios (conjuntamente, la
    "<strong>Plataforma</strong>").</p>
<p>Por favor, asegúrese de revisar nuestra Política de Privacidad y nuestra Política de Cookies para obtener más
    información de cómo recopilamos y usamos los datos relativos al uso y desarrollo de la Plataforma, así como de
    nuestra responsabilidad y sus derechos en relación al tratamiento de sus datos personales.</p>
<p>Estos Términos y Condiciones de Uso consisten en las siguientes secciones:</p>
<ul>
    <li>
        <p><a href="#Aceptación-de-los-Términos-y-Condiciones-de-Uso" class="href-black">Aceptación de los Términos y Condiciones de
                Uso</a>
            Básicamente, al usar spiller® usted acepta nuestros a los Términos y Condiciones de Uso, y a las Normas de
            la Comunidad, yestá de acuerdo en atenerse a las mismas.</p>
    </li>
    <li>
        <p><a href="#Cambios-en-los-Términos-y-Condiciones-de-Uso" class="href-black">Cambios en los Términos y Condiciones de Uso</a>
            Esta sección explica que nuestros Términos y Condiciones de Uso pueden cambiar ocasionalmente.</p>
    </li>
    <li>
        <p><a href="#Descripción-de-la-Plataforma" class="href-black">Descripción de la Plataforma</a>
            Proporciona una descripción general de la Plataforma, sus características y sus funcionalidades.</p>
    </li>
    <li>
        <p><a href="#Su-Cuenta-spiller" class="href-black">Su Cuenta spiller</a>
            Esta sección explica sus responsabilidades en caso de que decidas registrar una cuenta spiller®.</p>
    </li>
    <li>
        <p><a href="#Su-uso-de-la-Plataforma" class="href-black">Su Uso de la Plataforma</a>
            Esta sección expone su derecho a usar la Plataforma, y las condiciones aplicables al uso por su parte de la
            Plataforma.</p>
    </li>
    <li>
        <p><a href="#Sus-contenidos" class="href-black">Sus Contenidos</a>
            Esta sección trata de la titularidad de su contenido, e incluye su aceptación de no subir nada que infrinja
            los derechos de cualquier tercero.</p>
    </li>
    <li>
        <p><a href="#Concesión-de-licencia" class="href-black">Concesión de Licencia</a>
            Esta sección explica cómo se usará su contenido en spiller® y los permisos que otorga mediante la subida de
            su contenido – por ejemplo, el derecho de otros usuarios a escuchar sus pistas/audio.</p>
    </li>
    <li>
        <p><a href="#Manifestaciones-y-garantías" class="href-black">Manifestaciones y Garantías</a>
            Esta sección incluye promesas y garantías importantes que usted otorga cuando sube contenido a spiller® - en
            particular, su compromiso de que todo lo que suba y comparta es de su propiedad y no infringirá derechos de
            terceros.</p>
    </li>
    <li>
        <p><a href="#Responsabilidad-por-contenido" class="href-black">Responsabilidad por Contenido</a>
            Esta sección explica que spiller es un servicio de almacenamiento y que sus usuarios son los únicos y
            exclusivamente responsables por el material que suben a spiller®.</p>
    </li>
    <li>
        <p><a href="#Denuncia-de-infracciones" class="href-black">Denuncia de infracciones</a>
            Esta sección explica cómo notificarnos de contenidos en spiller® que creas que infringen sus derechos de
            autor o cualquier otro derecho de propiedad intelectual, o que sea ilegal, abusivo, difamatorio o de
            cualquier otro modo contrario a nuestros Términos y Condiciones de Uso o a nuestras Normas de la Comunidad
            (https://spiller.com/community-guidelines). Puedes encontrar información adicional sobre cómo denunciar
            infracciones de propiedad intelectual en nuestras páginas relativas a Información Sobre Propiedad
            Intelectual (https://spiller.com/pages/copyright).</p>
    </li>
    <li>
        <p><a href="#Páginas-web-y-servicios-de-terceros" class="href-black">Páginas web y servicios de terceros</a>
            A través de spiller® puedes tener acceso a otras páginas web y otros servicios. Esta sección explica que
            éstos son servicios independientes de terceros que no están bajo el control de spiller.</p>
    </li>
    <li>
        <p><a href="#Bloqueo-y-retirada-de-contenido" class="href-black">Bloqueo y retirada de contenido</a>
            Esta sección deja claro que spiller puede bloquear o retirar contenido de la Plataforma.</p>
    </li>
    <li>
        <p><a href="#Infractores-reincidentes" class="href-black">Infractores reincidentes</a>
            Usuarios que infrinjan de forma reiterada derechos de terceros o incumplan nuestros Términos y Condiciones
            de Uso o Normas de Comunidad se arriesgan a que sus cuentas de spiller® sean suspendidas o canceladas, como
            se explica en esta sección.</p>
    </li>
    <li>
        <p><a href="#Descargo-de-Responsabilidad" class="href-black">Descargo de Responsabilidad</a>
            Esta sección explica que spiller® no puede ofrecer ninguna garantía de que la Plataforma estará siempre
            disponible – a veces incluso una plataforma tan increíble como la nuestra puede tener algún problema.</p>
    </li>
    <li>
        <p><a href="#Limitación-de-responsabilidad" class="href-black">Limitación de responsabilidad</a>
            Esta sección explica algunas de esas cosas de las que spiller no será responsable. Por favor, asegúrate de
            que lees y comprendes esta sección.</p>
    </li>
    <li>
        <p><a href="#Indemnización" class="href-black">Indemnización</a>
            Si utilizas las Plataforma de una forma que resulte en daños para nosotros, tendrás que asumir
            responsabilidad por ello.</p>
    </li>
    <li>
        <p><a href="#Protección-de-datos-privacidad-y-cookies" class="href-black">Protección de datos, Privacidad y Cookies</a>
            Es realmente importante para nosotros que entiendas cómo usaremos su información personal. Toda la
            información se recaba, almacena y utiliza de conformidad con nuestra Política de Privacidad, por lo que
            asegúrate de leer y entender dicha política. Como muchas otras páginas web, utilizamos cookies para analizar
            cómo utiliza spiller la gente, de manera que podamos continuar mejorando nuestro servicio. Nuestro uso de
            cookies se explica en la Política de Cookies.</p>
    </li>
    <li>
        <p><a href="#Encuentros" class="href-black">Encuentros (<em>Meetups</em>)</a>
            Esta sección trata de los encuentros spiller® y explica que no son eventos “oficiales” de spiller, por lo
            que no podemos ser responsables de nada de lo que sucede en estas reuniones.</p>
    </li>
    <li>
        <p><a href="#Concursos-y-otras-promociones" class="href-black">Concursos y otras promociones</a>
            Esta sección trata de concursos, competiciones y sorteos en spiller®. Éstos no son gestionados por spiller,
            y por tanto no podemos ser responsables por ellos. Si usted quiere llevar a cabo su propia competición en
            spiller, asegúrate de leer y entender nuestros Términos y Condiciones de Concursos.</p>
    </li>
    <li>
        <p><a href="#Cesión-a-terceros" class="href-black">Cesión a terceros</a>
            Esta sección trata del derecho de spiller a ceder este contrato a terceros.</p>
    </li>
    <li>
        <p><a href="#Divisibilidad" class="href-black">Divisibilidad</a>
            Esta es una cláusula legal standard, que establece que cualquier estipulación que no sea válida se eliminará
            del contrato sin afectar a la validez del resto del contrato.</p>
    </li>
    <li>
        <p><a href="#Contrato-completo" class="href-black">Contrato completo</a>
            El uso de spiller® por su parte está gobernado por estos Términos y Condiciones de Uso, nuestra Política de
            Privacidad, Política de Cookies y Normas de la Comunidad. Cualquier modificación deberá hacerse por escrito.
        </p>
    </li>
    <li>
        <p><a href="#Derechos-de-terceros" class="href-black">Derechos de terceros</a>
            Estos Términos y Condiciones de Uso se aplican únicamente a la relación entre spiller y tú.</p>
    </li>
    <li>
        <p><a href="#Ley-Aplicable-y-Jurisdicción" class="href-black">Ley Aplicable y Jurisdicción</a>
            Todos nuestros documentos están por lo general sometidos a ley alemana.</p>
    </li>
    <li>
        <p><a href="#Información" class="href-black">Información</a>
            Esta sección proporciona información sobre spiller, incluyendo cómo contactar con nosotros.</p>
    </li>
</ul>
<h1 id="aceptación-de-los-términos-y-condiciones-de-uso">Aceptación de los Términos y Condiciones de Uso</h1>
<p>Por favor, lea estos Términos y Condiciones de Uso, la Política de Privacidad, la Política de Cookies y las Normas de
    la Comunidad, muy atentamente. <strong>Si usted no está de acuerdo con alguna de las disposiciones contenidas en
        dichos documentos, no debería usar la Página Web, las Apps ni ninguno de los Servicios.</strong> Mediante el
    mero acceso y el uso de la Plataforma, el registro de una cuenta, o mediante el visionado, acceso, streaming, subida
    o descarga de cualquier información o contenido a o de la Plataforma, usted está manifestando y garantizando que ha
    leído y entendido los Términos y Condiciones de Uso y las Normas de la Comunidad, que se atendrá a las mismas, que
    tiene 18 años o más, o la mayoría de edad aplicable en su jurisdicción, o si tiene menos de 18 años o es menor de
    edad en su jurisdicción, que usted tiene 16 años o más si usted reside en la Unión Europea o 13 años o más si usted
    reside en Estados Unidos de América o cualquier otro lugar.</p>
<h2 id="cambios-en-los-términos-y-condiciones-de-uso">Cambios en los Términos y Condiciones de Uso</h2>
<p>Nos reservamos el derecho a cambiar, alterar, reemplazar o de cualquier otro modo modificar estos Términos y
    Condiciones de Uso en cualquier momento, por ejemplo, para abordar cambios legales o normativos o cambios de
    características, funciones o del funcionamiento puestas a disposición a través de la Plataforma, a nuestra
    discreción. La fecha de la última modificación se indica al final de estos Términos y Condiciones de Uso. Es su
    responsabilidad revisar periódicamente esta página para conocer las actualizaciones.</p>
<p>Cuando hagamos cualquier cambio material de estos Términos y Condiciones de Uso, le proporcionaremos un aviso
    destacado según las circunstancias, incluyendo, por ejemplo, despliegue de un aviso dentro de la Plataforma y/o el
    envío de un correo electrónico a la dirección de correo que usted nos ha proporcionado o un mensaje en su cuenta de
    spiller, y los Términos y Condiciones de Uso revisados serán efectivos dos (2) semanas después de tal notificación.
</p>
<p>No tendrá obligación de continuar usando la Plataforma después de recibir esta notificación, pero si no cierra su
    cuenta tal como se describe más abajo en la sección <a href="#Finalización">Finalización</a> durante el mencionado
    período de dos (2) semanas, el uso continuado de la Plataforma después de finalizar ese período de dos (2) semanas
    constituirá su aceptación de los Términos y Condiciones de Uso revisados.</p>
<h2 id="descripción-de-la-plataforma">Descripción de la Plataforma</h2>
<p>La Plataforma es un servicio de almacenamiento. Los usuarios registrados de la Plataforma pueden enviar, subir y
    postear audio, texto, fotografías, imágenes, gráficos, comentarios y otro contenido, datos o información
    (<strong>"Contenidos"</strong>), que será almacenado por spiller siguiendo las instrucciones de tales usuarios
    registrados, y podrá ser compartido y distribuido por dichos usuarios registrados y por otros usuarios de la
    Plataforma usando las herramientas y funciones que se proporcionan como parte de la Plataforma y que son accesibles
    a través de la Página Web, las Apps y otros lugares. La Plataforma también permite a los usuarios registrados
    interactuar entre ellos y contribuir a discusiones, y permite a cualquier usuario de la Página Web, las Apps o
    ciertos Servicios (quienes podrán ser o no usuarios registrados de la Plataforma) ver, escuchar y compartir los
    Contenidos subido y puesto a disposición por usuarios registrados.</p>
<p>Ocasionalmente, nosotros podremos sacar nuevas herramientas y recursos en la Página Web, sacar nuevas versiones de
    nuestras Apps, o añadir otros servicios y/o funcionalidades para la Plataforma. Todos los nuevos servicios y
    funciones estarán sujetos a estos Términos y Condiciones de Uso, así como a cualesquiera términos y condiciones de
    uso adicionales que podamos sacar para dichos servicios o funciones específicas.</p>
<h2 id="su-cuenta-spiller">Su cuenta spiller</h2>
<p>Usted no tiene obligación de registrarse para usar la Plataforma. No obstante, el acceso a las Apps y a ciertos
    Servicios sólo está disponible para usuarios registrados. Por ejemplo, nuestra App spiller Pulse permite a los
    usuarios registrados, quienes suben los Contenidos y lo ponen a disposición de otros usuarios, recibir comentarios
    sobre la ejecución de sus pistas de forma instantánea, comunicarse con sus oyentes y gestionar sus Contenidos en
    cualquier momento.</p>
<p>Con el objetivo de conectarle con otros oyentes y creadores de spiller, le facilitamos la creación y personalización
    de un perfil público en spiller. Para permitirle este uso, usted debe de aportarnos la información que quiera
    mostrar en dicho perfil.</p>
<p>Para ayudarle a navegar y descubrir contenido que le interese en la Plataforma, como usuario registrado usted
    recibirá recomendaciones personalizada autogeneradas de otros contenidos que quizás le interese, de acuerdo con sus
    preferencias de escucha.</p>
<p>Cuando se registre para usar la Plataforma, deberá proporcionarnos su dirección de correo electrónico, y deberá
    elegir un nombre de usuario y una contraseña para su cuenta. Deberá también asegurarse de que la dirección de correo
    electrónico que nos proporcione sea válida y continuará siéndolo. Su dirección de correo electrónico y cualquier
    otra información que decida proporcionarnos sobre su persona será tratada de conformidad con nuestra Política de
    Privacidad.</p>
<p>Usted es el único responsable de mantener la confidencialidad y seguridad de su nombre de usuario y contraseña, así
    como de cualquier uso de su nombre de usuario y de su contraseña, y de toda actividad que se derive de tu cuenta,
    haya sido dicha actividad autorizada por usted o no.</p>
<p>Si su nombre de usuario o contraseña se pierde o es robado, o si cree que terceros no autorizados han podido acceder
    a su cuenta, le recomendamos que lo notifique por escrito a spiller, así como que cambie su contraseña tan pronto
    como le sea posible.</p>
<p>Nos reservamos el derecho a rechazar, cancelar, eliminar o reasignar ciertos nombres de usuarios y enlaces en
    circunstancias apropiadas, según lo determinemos nosotros a nuestro exclusivo criterio, y podremos, con o sin previo
    aviso, suspender o cancelar su cuenta si en dicha cuenta se producen actividades que, a nuestro criterio,
    constituyen o podrían constituir una violación de estos Términos y Condiciones de Uso o nuestras Normas de la
    Comunidad, o una infracción o violación de los derechos de cualquier tercero, o de cualquier ley o reglamento
    aplicable.</p>
<p>Usted podrá cerrar su cuenta en cualquier momento, tal como se describe más abajo en la sección <a
        href="#Finalización" class="href-black">Finalización</a>.</p>
<h2 id="su-uso-de-la-plataforma">Su uso de la Plataforma</h2>
<p>Con sujeción al estricto cumplimiento por su parte de estos Términos y Condiciones de Uso y de nuestras Normas de la
    Comunidad en todo momento mientras use la Plataforma, spiller le otorga una licencia limitada, personal, no
    exclusiva, revocable, intransmisible e intransferible, para usar la Plataforma para ver Contenidos subidos y
    posteados en la Página Web, para escuchar los Contenidos de audio en streaming desde la Plataforma u offline, y
    compartir y descargar los Contenidos de audio usando las herramientas de la Plataforma cuando la funcionalidad
    correspondiente haya sido activada por el usuario que subió los Contenidos relevantes (el
    “<strong>Uploader</strong>”), sujeta a la disponibilidad territorial de dicha herramienta y del Contenidos de audio.
</p>
<p>Adicionalmente, si se registra para usar la Plataforma, siempre con sujeción al estricto cumplimiento por tu parte de
    estos Términos y Condiciones de Uso y de nuestras Normas de la Comunidad en todo momento mientras use la Plataforma,
    se le otorga una licencia limitada, personal, no exclusiva, revocable, intransmisible e intransferible, para:</p>
<p>(i) enviar, subir o postear los Contenidos a/en la Plataforma, y a mantener tales Contenidos a accesible en la
    Plataforma estrictamente como se permite de acuerdo con estos Términos y Condiciones de Uso y cualesquiera otros
    términos y condiciones aplicables que se posteen en la Página Web de tanto en tanto;</p>
<p>(ii) participar en las áreas de comunidad y comunicarse con otros miembros de la comunidad spiller® estrictamente de
    acuerdo con estos Términos y Condiciones de Uso y con nuestras Normas de la Comunidad; y</p>
<p>(iii) utilizar las Apps y otros Servicios que se proporcionan como parte de la Plataforma estrictamente como se
    permite de acuerdo con estos Términos y Condiciones de Uso y cualesquiera otros términos y condiciones aplicables de
    tanto en tanto a dichas Apps o Servicios;</p>
<p>Las licencias más arriba descritas están condicionadas al estricto cumplimiento por su parte de estos Términos y
    Condiciones de Uso y de nuestras Normas de la Comunidad en todo momento mientras usted use la Plataforma, incluyendo
    sin limitación lo siguiente:</p>
<p>(i) No debe copiar o capturar, o intentar copiar o capturar, ningún Contenidos de audio de la Plataforma ni parte
    alguna de la Plataforma, salvo mediante la descarga o almacenamiento para escucha offline en aquellas circunstancias
    en que el Uploader ha elegido permitir la descarga o la escucha offline de la pieza relevante de los Contenidos.</p>
<p>(ii) No debe adaptar, copiar, volver a publicar, poner a disposición del público o comunicar al público de ninguna
    forma, exhibir, ejecutar, transferir, compartir, distribuir o usar o explotar de ninguna manera ningún Contenidos en
    o desde la Plataforma en ningún momento, salvo (i) cuando tal Contenido sea Sus Contenidos y en todo momento durante
    su uso de los Contenidos aplicable, o (ii) tal como se permite en estos Términos y Condiciones de Uso, y dentro de
    los parámetros establecidos por el Uploader (por ejemplo, de acuerdo con los términos de las licencias Creative
    Commons que pudiera haber seleccionado el Uploader).</p>
<p>(iii) No debe usar ningún Contenido (excepto Sus Contenidos) de forma diseñada para crear un servicio de contenidos
    separado o que de alguna forma replique cualquier parte de la oferta de la Plataforma.</p>
<p>(iv) No debe utilizar scraping o técnicas similares para agregar, reconvertir, volver a publicar o hacer cualquier
    otro uso de ningún Contenido.</p>
<p>(v) No debe utilizar ninguna técnica o hacer uso de ningún servicio, automático o de otro tipo, diseñado para
    tergiversar la popularidad de Sus Contenidos en la Plataforma, o para tergiversar su actividad en la Plataforma,
    incluyendo sin limitación mediante el uso de bots, botnets, scripts, apps, plugins, extensiones o cualesquiera otros
    medios automatizados para registrar cuentas, acceder, añadir seguidores de su cuenta, reproducir Contenidos, seguir
    o dejar de seguir a otros usuarios, enviar mensajes, postear comentarios o de cualquier otro modo actuar en su
    lugar, particularmente cuando tales actividades ocurran de forma múltiple o repetitiva. No debe ofrecer o promover
    la disponibilidad de ninguna de estas técnicas o servicios a otros usuarios de la Plataforma.</p>
<p>(vi) No debe alterar o eliminar, ni intentar alterar o eliminar, ninguna información relativa a marcas o propiedad
    intelectual, ni ninguna otra información legal contenida en la Plataforma o que aparezca en ella, o en algún
    Contenidos que esté en la Plataforma (distinto de Sus Contenidos).</p>
<p>(vii) No debe copiar o adaptar el código objeto de la Página Web o de ninguna de las Apps o de los Servicios, ni
    hacer ingeniería inversa, ensamblaje inverso, descompilar, modificar o intentar revelar código fuente o código
    objeto de parte alguna de la Plataforma, o eludir o copiar ningún mecanismo de protección de copiado o restricciones
    territoriales, ni acceder a información sobre gestión de derechos correspondiente a Contenidos distinto de Sus
    Contenidos, y no debe permitir que ningún tercero lo haga.</p>
<p>(viii) No debe utilizar la Plataforma para subir, postear, almacenar, transmitir, exhibir, copiar, promocionar, poner
    a disposición, seguir poniendo a disposición o de cualquier otra forma comunicar al público:</p>
<ul>
    <li>ningún Contenido que sea abusivo, calumnioso, difamatorio, pornográfico u obsceno, que promueva o incite a la
        violencia, al terrorismo, a acciones ilegales, o al odio por razón de raza, etnicidad, creencias religiosas,
        incapacidades, género, identidad u orientación sexual, o sea de otro modo cuestionable bajo el criterio
        razonable de spiller;</li>
    <li>ninguna información, Contenido o cualquier otro material que viole, plagie, se apropie inadecuadamente de o
        infrinja los derechos de terceros, incluyendo, sin limitación, propiedad intelectual, derechos de marcas,
        derechos de intimidad o de imagen, información confidencial o cualquier otro derecho; o</li>
    <li>ningún Contenido que viole, infrinja o sea contrario a alguna ley, norma, reglamento, mandato judicial o sea de
        cualquier otro modo ilegal o ilícito a juicio razonable de spiller;</li>
    <li>ningún material de ningún tipo que contenga algún virus, troyano, spyware, adware, malware, bot, time bomb,
        gusano, o cualquier otro componente dañino o malicioso, que sobrecargue, dañe o deteriore o pueda sobrecargar,
        dañar o deteriorar, la Plataforma o los servidores o redes que forman parte de o están conectadas a la
        Plataforma, o que restrinja o inhiba o pueda restringir o inhibir el uso y disfrute de otros usuarios de la
        Plataforma; o</li>
    <li>ningún anuncio, mensaje promocional, spam o cualquier otra forma de incitación que no se haya solicitado o
        autorizado.</li>
</ul>
<p>(ix) No debe cometer o participar en, ni animar, inducir, incitar o promover ninguna conducta que pueda constituir un
    delito, dar lugar a responsabilidad civil o de cualquier otro modo violar alguna ley o reglamento.</p>
<p>(x) No debe alquilar, vender o prestar el acceso a la Plataforma ni ningún Contenidos que esté en la Plataforma,
    aunque esto no impide que usted incluya enlaces de Sus Contenidos a cualquier tienda online de descargas legítima
    desde la que se pueda adquirir cualquier pieza de Sus Contenidos.</p>
<p>(xi) No debe hacerse pasar de forma deliberada por otra persona o entidad, o de otro modo falsear su vinculación con
    alguna persona o entidad, por ejemplo, mediante el registro de una cuenta a nombre de otra persona o compañía, o
    mediante el envío de mensajes o comentarios utilizando el nombre de otra persona.</p>
<p>(xii) No debe acechar, explotar, amenazar, abusar o de otro modo acosar a ningún otro usuario, ni a ningún empleado
    de spiller.</p>
<p>(xiii) No debe usar o intentar usar la cuenta de otra persona, su contraseña ni ninguna otra información, salvo que
    dicha persona le haya dado permiso expresamente.</p>
<p>(xiv) No debe vender o transferir, ni ofrecer vender o transferir, ninguna cuenta spiller a ninguna otra persona sin
    la previa aprobación por escrito de spiller.</p>
<p>(xv) No debe recopilar ni intentar recopilar datos personales, ni ninguna otra clase de información sobre otros
    usuarios, incluyendo sin limitación, mediante spidering o scraping.</p>
<p>(xvi) No debe violar, eludir o intentar violar o eludir ninguna medida de seguridad de datos empleada por spiller o
    ningún Uploader; acceder o intentar acceder a datos o a materiales que no están destinados a su uso; entrar en, o
    intentar entrar en, un servidor o una cuenta para cuyo acceso no esté autorizado; intentar escanear o probar la
    vulnerabilidad de los servidores, el sistema o la red de spiller, ni intentar quebrar la seguridad de datos o los
    procedimientos de autenticación de spiller; intentar interferir con la Página Web o con los Servicios en forma
    alguna incluyendo, sin limitación, piratear los servicios o los sistemas de spiller, enviar un virus, sobrecargar,
    enviar correos-bomba o provocar errores graves. Sin limitación de cualquier otro derecho o remedio que pueda
    corresponder a spiller de acuerdo con estos Términos y Condiciones de Uso, spiller se reserva el derecho a
    investigar cualquier situación que parezca implicar cualquiera de las anteriores conductas, y podrá informar de
    tales asuntos a, y cooperar con, las autoridades policiales o de otro tipo apropiadas para procesar a cualquier
    usuario que haya participado en tales violaciones.</p>
<p>Usted acepta cumplir con estas condiciones en todo momento durante su uso de la Plataforma, y reconoce y acepta que
    spiller tiene derecho, a su sola discreción, a cancelar su cuenta o a adoptar cualquier otra medida que consideremos
    oportuna si usted incumple cualquiera de estas condiciones o cualquier otra disposición de estos Términos y
    Condiciones de Uso. Ello puede incluir iniciar acciones legales y/o informar a las autoridades relevantes sobre los
    usuarios infractores.</p>
<h2 id="sus-contenidos">Sus Contenidos</h2>
<p>Todos y cada uno de los audios, textos, fotos, imágenes, comentarios y demás contenido, datos o información que usted
    suba, almacene, transmita, envíe, intercambie o ponga a disposición de o a través de la Plataforma (en Adelante,
    <strong>"Sus Contenidos"</strong>) está generado y controlado solo por usted, y no por spiller, y es de su sola
    propiedad, y no de spiller.
</p>
<p>spiller no reclama la titularidad de ningún derecho sobre Sus Contenidos, y por la presente usted expresamente
    reconoce y acepta que Sus Contenidos quedan bajo su sola responsabilidad.</p>
<p>Sin perjuicio de las condiciones establecidas en [Su Uso de la Plataforma] usted no debe subir, almacenar,
    distribuir, enviar, transmitir, exhibir, ejecutar, poner a disposición o de otro modo comunicar al público ningún
    Contenidos sobre el que no ostente los derechos necesarios. En particular, c<strong>ualquier uso no autorizado de
        material protegido por la propiedad intelectual en Sus Contenidos (incluyendo mediante su reproducción,
        distribución, modificación, adaptación, exhibición pública, ejecución pública, preparación de obras derivadas,
        puesta a disposición u otras formas de comunicación pública a través de la Plataforma), con independencia de si
        no está autorizado ahora o deviene no autorizado más adelante, puede ser constitutivo de una infracción de
        derechos de terceros y está <em>estrictamente prohibida</em></strong>. Cualquiera de las anteriores infracciones
    puede resultar en la cancelación de su acceso a la Plataforma tal como se describe más abajo en la sección
    [Infractores Reincidentes], y puede resultar asimismo en un litigio civil o en un procedimiento penal por parte de o
    por cuenta del titular de derechos afectado.</p>
<p>No todos los usos no autorizados de las obras protegidas por derechos de autor constituyen una vulneración. Los
    usuarios de la Unión Europea pueden usar obras protegidas por derechos de autor de acuerdo con ciertas excepciones o
    limitaciones a los derechos de autor, como cuando dichas obras se citen, se reseñen o se critiquen, o cuando el uso
    se realice a efectos de caricatura, parodia o pastiche.</p>
<p>Ocasionalmente, nosotros podremos invitarle a o proporcionarle los medios para que nos de su opinión sobre la
    Plataforma, y en tales circunstancias, cualquier respuesta que nos pueda proporcionar se entenderá como no
    confidencial y spiller tendrá derecho, pero no obligación, a usar tales opiniones sin restricciones.</p>
<h2 id="concesión-de-licencia">Concesión de licencia</h2>
<p>Mediante la subida o el posteo de Sus Contenidos en la Plataforma, usted inicia un proceso automatizado para
    transcodificar todo los Contenidos de audio e indica a spiller que almacene Sus Contenidos en nuestros servidores.</p>
<p>Mediante la subida de Sus Contenidos a la Plataforma, usted también concede una licencia limitada, no exclusiva, para
    todo el mundo, libre de royalties y enteramente pagada, a favor de otros usuarios de la Plataforma, y de operadores
    y usuarios de cualquier otra página web, aplicación y/o plataformas con los que Sus Contenidos ha sido compartido o
    en los que se haya integrado utilizando los Servicios (“<strong>Servicios Enlazados</strong>”), a usar, copiar,
    escuchar offline, repostear, transmitir o de otra forma distribuir, exhibir públicamente, ejecutar públicamente,
    adaptar, preparar obras derivadas de, compilar, poner a disposición del público o comunicar públicamente de otro
    modo, Sus Contenidos ocasionalmente, usando las herramientas de la Plataforma y dentro de las parámetros fijados por
    usted al utilizar los Servicios. Usted podrá limitar y restringir la disponibilidad de algunos elementos de Sus
    Contenidos para otros usuarios de la Plataforma, y para usuarios de los Servicios Enlazados, y en cualquier momento
    usando la pestaña de permisos en la sección de edición de pistas para cada pista que suba, todo ello con sujeción a
    lo dispuesto más abajo en la sección Descargo de Responsabilidad. Sin perjuicio de lo anterior, nada de lo dispuesto
    en estos Términos y Condiciones de Uso confiere derecho alguno a ningún otro usuario de la Plataforma con respecto a
    nombres protegidos, logos, marcas comerciales o de servicios que haya usted subido como parte de Sus Contenidos (por
    ejemplo, su imagen de perfil) (“<strong>Marcas</strong>”), más allá del derecho a reproducir, exhibir públicamente,
    poner a disposición del público y comunicar al público de otras formas tales Marcas, de forma automática y sin
    alteraciones, como parte del acto de repostear pistas a las que usted haya asociado tales Marcas.</p>
<p>Las licencias otorgadas en esta sección se conceden de forma independiente para cada elemento de Sus Contenidos que
    usted suba a la Plataforma. Las licencias con respecto a Contenidos de audio, y cualesquiera imágenes o texto dentro
    de su cuenta, (con sujeción a lo dispuesto en el párrafo siguiente de estos Términos y Condiciones de Uso) se
    extinguirán de forma automática cuando usted retire tal Contenido de su cuenta. Las licencias con respecto a
    comentarios y otras contribuciones que usted haga en la Plataforma serán perpetuas e irrevocables, y continuarán en
    vigor a pesar de que su cuenta sea cancelada.</p>
<p>La eliminación de Contenidos de audio de su cuenta tendrá como resultado automático la eliminación de los archivos
    relevantes de los sistemas y servidores de spiller. Sin embargo, y a pesar de lo anterior, por la presente usted
    reconoce y acepta que una vez que Sus Contenidos sean distribuidos a un Servicio Enlazado, spiller no está obligada
    a asegurar la eliminación de Sus Contenidos de ningún servidor o Sistema operado por los operadores de un Servicio
    Enlazado, ni a requerir que ningún usuario de la Plataforma o de los Servicios Enlazados elimine ningún elemento de
    Sus Contenidos. Además, si usted autoriza que alguno de Sus Contenidos esté disponible para su escucha offline, tras
    el borrado de algún elemento de Sus Contenidos o la eliminación de la posibilidad para otros usuarios de escuchar el
    Contenido aplicable offline, el Contenido aplicable puede estar aún disponible de forma temporal para otros usuarios
    de la Plataforma que hubieran guardado tal Contenido para su escucha offline en sus equipos, pero nunca más de 30
    días desde la fecha de su borrado.</p>
<p>Cualquier Contenido distinto de Sus Contenidos es propiedad del Uploader correspondiente, y está o puede estar
    protegido por derechos de autor o de marcas u otros derechos de propiedad intelectual o de otro tipo. Dicho
    Contenido no puede ser descargado, reproducido, distribuido, transmitido, re-subido, republicado, exhibido, vendido,
    licenciado, puesto a disposición al público o comunicado públicamente de otro modo ni explotado con cualquier fin
    salvo ocasionalmente a través de las herramientas de la Plataforma y dentro de los parámetros establecidos por el
    Uploader en la Plataforma o con el consentimiento expreso y escrito del Uploader. En caso de que usted reposteará
    los Contenidos de otro usuario, o de que incluyera los Contenidos de otro usuario en una lista o emisora, o en caso
    de que usted escuchara offline los Contenidos de otro usuario, usted no adquirirá ningún derecho sobre tales
    Contenidos. Con sujeción a los derechos expresamente otorgados en esta sección, todos los derechos sobre los
    Contenidos quedan reservados al Uploader relevante.</p>
<h2 id="responsabilidad-por-contenidos">Responsabilidad por Contenidos</h2>
<p>Por la presente usted reconoce y acepta que spiller:</p>
<p>(i) almacena contenidos y otra información bajo la dirección, a petición de y con la autorización de sus usuarios,
    (ii) actúa como mero conducto pasivo y/o como anfitrión para la subida, el almacenamiento y la distribución de tal
    contenido, y (iii) no juega ningún papel activo y no presta asistencia en la presentación o en el uso del contenido.
    Usted es exclusivamente responsable de todos Sus Contenidos que usted suba, postee o distribuya a, en o a través de
    la Plataforma, y en la medida en que esté permitido por las leyes, spiller se exime de toda responsabilidad con
    respecto a todo el contenido (incluidos Sus Contenidos) y de las actividades de sus usuarios con respecto a los
    mismos.</p>
<p>Por la presente usted reconoce y acepta que spiller no puede revisar y no revisa el contenido creado o subido por sus
    usuarios, y ni spiller ni sus subsidiarias, afiliadas, sucesores, cesionarios, empleados, agentes, directores,
    oficiales y accionistas tienen obligación alguna, y pueden, aunque no se comprometen a ello ni asumen deber alguno,
    supervisar la Plataforma por contenidos inapropiados, que infringen o podrían infringir los derechos de algún
    tercero, o que de cualquier otra forma se han subido infringiendo estos Términos y Condiciones de Uso o la ley
    aplicable.</p>
<p>spiller y sus subsidiarias, afiliadas, sucesores, cesionarios, empleados, agentes, directores, oficiales y
    accionistas por la presente se eximen, en la máxima medida permitida por la ley, de toda responsabilidad que pudiera
    derivarse de cualquier contenido subido a la Plataforma por los usuarios, incluyendo sin limitación, cualquier
    reclamación por infracción de derechos de propiedad intelectual, derechos de intimidad o de imagen, reclamaciones
    relativas a la publicación de material abusivo, difamatorio, pornográfico u obsceno, o reclamaciones relativas a la
    exhaustividad, precisión, vigencia o fiabilidad de las informaciones proporcionadas por los usuarios de la
    Plataforma. Mediante el uso de la Plataforma renuncias de forma irrevocable a hacer valer una reclamación con
    respecto a cualquiera de las cuestiones antes mencionadas contra spiller o alguna de sus subsidiarias, afiliadas,
    sucesores, cesionarios, empleados, agentes, directores, oficiales o accionistas.</p>
<ul>
    <li>una declaración de que ha identificado Contenidos en spiller® que infringen sus derechos de propiedad
        intelectual o los derechos de propiedad intelectual de un tercero por cuya cuenta usted está autorizado a
        actuar;</li>
    <li>una descripción de la(s) obra(s) protegida(s) por propiedad intelectual que considera han sido vulneradas;</li>
    <li>una descripción del Contenido que considera infractor y la(s) URL(s) de spiller en la(s) que dicho contenido se
        encuentra;</li>
    <li>su nombre complete, dirección y número de teléfono, una dirección válida de correo electrónico en la que poder
        contactar con usted y su nombre de usuario de spiller®, si lo tuviera;</li>
    <li>una declaración suya en la que manifieste creer de buena fe que el uso disputado del material no está autorizado
        por el titular de los derechos de propiedad intelectual, su agente, o la ley; y</li>
    <li>una declaración suya manifestando que la información que facilita en su notificación es correcta y que está
        usted autorizado a actuar en representación del titular del derecho exclusivo que está siendo presuntamente
        vulnerado;</li>
</ul>
<p>Además, si desea que su notificación se considere como tal de acuerdo con la United States <em>Digital Millennium
        Copyright Act</em> 17 U.S.C. §512(c), por favor incluya también lo siguiente:</p>
<ul>
    <li>con respecto a su declaración de estar autorizado para actuar en representación del titular del derecho
        exclusivo presuntamente infringido, una confirmación de que tal declaración se hace bajo pena de cometer
        perjurio; y</li>
    <li>su firma, electrónica o física (que puede ser una copia escaneada).</li>
</ul>
<p>Este proceso se aplica solo para propiedad intelectual. Si usted descubre algún Contenido que crea que vulnera sus
    derechos de marca, por favor notifíquenoslo por correo electrónico a <a
        href="mailto:legal@spiller.com" class="href-black">legal@spiller.com</a>. Para todos los demás casos, si descubriera Contenidos que
    infringen o violan cualquier otro de sus derechos, que consideres difamatorio, pornográfico, obsceno, racista o de
    cualquier otro modo capaz de causar daños generalizados, o que constituye suplantación de personalidad, abuso, spam
    o de cualquier otro modo infringe estos Términos y Condiciones de Uso, nuestras Normas de la Comunidad o la ley
    aplicable, por favor infórmenos en <a href="mailto:legal@spiller.com" class="href-black">legal@spiller.com</a>.</p>
<h2 id="servicios-externos">Servicios Externos</h2>
<p>Usted es exclusivamente responsable de adoptar las precauciones necesarias para protegerse de fraudes al usar
    Servicios Externos, y de proteger sus sistemas informáticos de virus, gusanos, troyanos, y otro contenido dañino o
    destructivo y de material que pueda estar incluido en o emanar de alguno de los Servicios Externos.</p>
<p>spiller se descarga de cualquier responsabilidad por daños resultantes del uso por su parte de los Servicios
    Externos, y por la presente usted renuncia de forma irrevocable a reclamar a spiller con respecto al contenido o a
    las operaciones de ninguno de los Servicios Externos.</p>
<h2 id="bloqueo-y-retirada-de-contenido">Bloqueo y Retirada de contenido</h2>
<p>Sin perjuicio de que spiller no tenga obligación de supervisar el contenido en la Plataforma, spiller se reserva el
    derecho a bloquear, retirar o borrar cualquier contenido en cualquier momento, y a limitar o restringir el acceso a
    cualquier contenido, por cualquier razón y sin responsabilidad alguna, incluyendo sin limitación, en caso de que
    tengamos razones para creer que tal contenido infringe o puede infringir los derechos de terceros, ha sido subido o
    posteado en vulneración de estos Términos y Condiciones de Uso, nuestras Normas de la
    Comunidad o la ley aplicable, o es de otro modo inaceptable para spiller.</p>
<p>Por favor, tenga también en cuenta que los Uploaders individuales tienen control sobre el contenido de audio que
    almacenan en su cuenta de tanto en tanto, y pueden quitar una parte o todo el contenido de audio u otro contenido
    sin previo aviso. Usted no tendrá derecho a seguir accediendo a un elemento particular de contenido y spiller no
    tendrá responsabilidad alguna en el caso de que no le sea posible acceder a un elemento de contenido debido a su
    eliminación de la Plataforma, ya haya sido por spiller o por el Uploader relevante.</p>
<h2 id="infractores-reincidentes">Infractores Reincidentes</h2>
<p>spiller suspenderá o cancelará su acceso a la Plataforma si spiller determina, a su razonable criterio, que usted ha
    incumplido repetidamente estos Términos y Condiciones de Uso o nuestras Normas de la Comunidad.</p>
<p>Si recibimos una notificación válida de un tercero de conformidad con nuestros procesos de denuncia o la ley
    aplicable de que alguno de Sus Contenidos infringe la propiedad intelectual u otros derechos del mencionado tercero,
    o si creemos que su conducta vulnera nuestras Normas de la Comunidad, le enviaremos un aviso por escrito a estos
    efectos. Cualquier usuario que reciba más de dos de estos avisos es susceptible de que su acceso a la Plataforma sea
    cancelado en el acto.</p>
<p>También suspenderemos o cancelaremos su cuenta sin previo aviso si así nos lo ordena un juez, y/o en otras
    circunstancias apropiadas, tal como pueda determinar spiller a su solo criterio.</p>
<h2 id="descargo-de-responsabilidad">Descargo de Responsabilidad</h2>
<p>LA PLATAFORMA, INCLUYENDO, SIN LIMITACIÓN, LA PÁGINA WEB, LAS APPS Y TODO EL CONTENIDO Y LOS SERVICIOS A LOS QUE SE
    ACCEDE A TRAVÉS O MEDIANTE LA PÁGINA WEB, LAS APPS, LOS SERVICIOS O DE CUALQUIER OTRO MODO, SE OFRECEN “TAL CUAL
    ESTÁN”, “SEGÚN DISPONIBILIDAD” Y “CON TODAS LAS FALLAS QUE PUEDAN TENER”.</p>
<p>A PESAR DE QUE spiller HACE ESFUERZOS RAZONABLES PARA CORREGIR POSIBLES ERRORES U OMISIONES EN LA PLATAFORMA TAN
    PRONTO COMO LE ES POSIBLE UNA VEZ ÉSTAS HAN SIDO PUESTAS EN CONOCIMIENTO DE spiller, spiller NO HACE NINGUNA
    PROMESA, GARANTÍA O MANIFESTACIÓN DE NINGÚN TIPO (EXPRESA O IMPLÍCITA) EN RELACIÓN CON LA PÁGINA WEB, LAS
    APLICACIONES, LOS SERVICIOS O UNA PARTE O PARTES DE LOS MISMOS, NI EN RELACIÓN CON NINGÚN CONTENIDO, O CON ALGÚN
    SERVICIO ENLAZADO U OTROS SERVICIOS EXTERNOS. spiller NO GARANTIZA QUE EL USO POR SU PARTE DE LA PLATAFORMA NO SE
    INTERRUMPIRÁ, SERÁ PUNTUAL, SEGURO O ESTARÁ LIBRE DE ERRORES, QUE LOS DEFECTOS SERÁN CORREGIDOS O QUE LA PLATAFORMA
    O UNA O ALGUNA DE SUS PARTES, EL CONTENIDO O LOS SERVIDORES EN LOS CUALES OPERA LA PLATAFORMA ESTÁN O ESTARÁN LIBRES
    DE VIRUS O DE CUALQUIER OTRO COMPONENTE DAÑINO. spiller NO GARANTIZA QUE TODAS LAS TRANSMISIONES DE CONTENIDO SUBIDO
    A LA PLATAFORMA SERÁN SEGURAS O QUE TODOS LOS ELEMENTOS DE LA PLATAFORMA DISEÑADOS PARA PREVENIR ACCESOS, ACTOS DE
    COMPARTIR O BAJADAS DE CONTENIDO NO AUTORIZADOS, SERÁN EFICACES EN TODOS Y CADA UNO DE LOS CASOS, Y TAMPOCO
    GARANTIZA QUE EL USO QUE USTED HAGA DE LA PLATAFORMA SERÁ LEGAL EN NINGUNA JURISDICCIÓN EN PARTICULAR.</p>
<p>EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY, spiller Y SUS SUBSIDIARIAS, AFILIADAS, SUCESORES, Y CESIONARIOS, Y SUS
    RESPECTIVOS EMPLEADOS, AGENTES, DIRECTORES, OFICIALES Y ACCIONISTAS, ESPECÍFICAMENTE DECLINAN OFRECER NINGUNA DE LAS
    ANTERIORES GARANTÍAS Y CUALESQUIERA OTRAS QUE NO ESTÉN ESPECÍFICAMENTE MENCIONADAS AQUÍ, INCLUYENDO SIN LIMITACIÓN
    CUALESQUIERA GARANTÍAS EXPRESAS O IMPLÍCITAS RELATIVAS A LA NO-INFRACCIÓN, COMERCIABILIDAD Y ADECUACIÓN A UN FIN
    PARTICULAR.</p>
<p>CUANDO LA LEY DE ALGUNA JURISDICCIÓN LIMITE O PROHÍBA EL ANTERIOR DESCARGO DE RESPONSABILIDAD DE GARANTÍAS IMPLÍCITAS
    O DE OTRO TIPO TAL COMO SE DESCRIBEN MÁS ARRIBA, LOS DESCARGOS DE RESPONSABILIDAD ARRIBA DESCRITOS NO SERÁN DE
    APLICACIÓN EN LA MEDIDA EN QUE LA LEY DE DICHA JURISDICCIÓN SEA DE APLICACIÓN A ESTE CONTRATO.</p>
<h2 id="limitación-de-responsabilidad">Limitación de responsabilidad</h2>
<p>EN NINGÚN CASO LA RESPONSABILIDAD AGREGADA DE spiller HACIA USTED BAJO ESTE CONTRATO EXCEDERÁ LO QUE RESULTE MAYOR
    ENTRE 100 EUROS O LAS CANTIDADES (SI EXISTEN) PAGADAS POR TI A spiller DURANTE LOS DOCE (12) MESES ANTERIORES POR
    LOS SERVICIOS QUE DAN LUGAR A LA RECLAMACIÓN.</p>
<p>spiller Y SUS SUBSIDIARIAS, AFILIADAS, SUCESORES, Y CESIONARIOS, Y SUS RESPECTIVOS EMPLEADOS, AGENTES, DIRECTORES,
    OFICIALES Y ACCIONISTAS, NO TENDRÁN RESPONSABILIDAD ALGUNA POR:</p>
<ol>
    <li>
        <p>PÉRDIDAS O DAÑOS DERIVADOS DE:</p>
        <p>(A) LA IMPOSIBILIDAD DE ACCEDER O USAR LA PLATAFORMA O ALGUNA DE SUS PARTES, O DE ACCEDER A ALGÚN CONTENIDO O
            A ALGÚN SERVICIO EXTERNO A TRAVÉS DE LA PLATAFORMA;
            (B) CUALESQUIERA CAMBIOS QUE spiller PUEDA EFECTUAR EN LA PLATAFORMA O EN ALGUNA DE SUS PARTES, O DE
            CUALQUIER SUSPENSIÓN O CESE TEMPORAL O PERMANENTE DEL ACCESO A LA PLATAFORMA O A ALGÚN CONTENIDO EN O DESDE
            UNO O TODOS LOS TERRITORIOS;
            (C) ALGUNA ACCIÓN INICIADA CONTRA USTED POR TERCEROS TITULARES DE DERECHOS CON RESPECTO A ALGUNA PRESUNTA
            INFRACCIÓN DE LOS DERECHOS DE DICHO TERCERO RELACIONADA CON SUS CONTENIDOS O CON EL USO POR SU PARTE DE LA
            PLATAFORMA, O ALGUNA ACCIÓN REALIZADA COMO PARTE DE UNA INVESTIGACIÓN POR spiller O POR LAS AUTORIDADES
            RELEVANTES ENCARGADAS DEL CUMPLIMIENTO DE LA LEY EN RELACIÓN CON EL USO QUE USTED HAGA DE LA PLATAFORMA;
            (D) CUALESQUIERA ERRORES U OMISIONES EN LA OPERATIVA TÉCNICA DE LA PLATAFORMA, O DE CUALQUIER INEXACTITUD O
            DEFECTO EN CUALQUIER CONTENIDO O INFORMACIÓN RELATIVA A CONTENIDO;
            (E) SU INCAPACIDAD PARA PROPORCIONAR A spiller INFORMACIÓN PRECISA O COMPLETA, O SU INCAPACIDAD PARA
            MANTENER SU NOMBRE DE USUARIO O SU CONTRASEÑA DEBIDAMENTE CONFIDENCIAL;
            (F) CUALQUIER CONDUCTA INDEBIDA POR PARTE DE OTROS USUARIOS O DE TERCEROS AL USAR LA PLATAFORMA,
            ESPECIALMENTE CUANDO CON ELLO SE INCUMPLA ESTE CONTRATO;</p>
    </li>
    <li>
        <p>CUALQUIER PÉRDIDA O DAÑOS PRODUCIDOS A SU EQUIPO O SUS PROGRAMAS INFORMÁTICOS, CUALQUIER PÉRDIDA DE DATOS
            (INCLUYENDO SUS CONTENIDOS), O CUALUQIER PÉRDIDA O DAÑOS DERIVADOS DE UNA QUIEBRA EN LA SEGURIDAD; Y/O</p>
    </li>
    <li>
        <p>CUALESQUIERA PÉRDIDAS DE BENEFICIOS, O CUALESQUIERA OTRAS PÉRDIDAS O DAÑOS QUE PUEDAS SUFRIR QUE NO SEAN
            CONSECUENCIA PREVISIBLE DEL INCUMPLIMIENTO POR PARTE DE spiller DE ESTOS TÉRMINOS Y CONDICIONES DE USO. LAS
            PÉRDIDAS SON PREVISIBLES CUANDO PUEDAN SER TENIDOS EN CUENTA POR USTED Y POR spiller EN EL MOMENTO DE SU
            ACEPTACIÓN DE ESTOS TÉRMINOS Y CONDICIONES DE USO, Y POR LO TANTO NO INCLUIRÁN DAÑOS O PÉRDIDAS INDIRECTAS
            DE NINGUNA CLASE, COMO POR EJEMPLO LA PÉRDIDA DE OPORTUNIDADES.</p>
    </li>
</ol>
<p>CUALQUIER RECLAMACIÓN O ACCIÓN DERIVADA DE O RELATIVA AL USO POR SU PARTE DE LA PLATAFORMA DEBERÁ SER NOTIFICADA A
    spiller TAN PRONTO COMO SEA POSIBLE.</p>
<p>ES POSIBLE QUE LA LEY APLICABLE NO PERMITA LA LIMITACIÓN O EXENCIÓN DE RESPONSABILIDAD POR DAÑOS INCIDENTALES O
    EMERGENTES, DE MANERA QUE PUEDE QUE LAS ANTERIORES LIMITACIONES O EXENCIONES NO LE RESULTEN DE APLICACIÓN. EN TALES
    CASOS, USTED RECONOCE Y ACEPTA QUE TALES LIMITACIONES Y EXENCIONES SON REFLEJO DE UNA ASIGNACIÓN DE RIESGOS ENTRE
    spiller Y USTED JUSTA Y RAZONABLE, LO QUE CONSTITUYE UN ELEMENTO FUNDAMENTAL DE LA NEGOCIACIÓN ENTRE spiller Y
    USTED, Y QUE LA RESPONSABILIDAD DE spiller ESTÁ LIMITADA EN LA MAXIMA MEDIDA PERMITIDA POR LA LEY.</p>
<p>NADA DE LO ESTABLECIDO EN ESTOS TÉRMINOS Y CONDICIONES DE USO LIMITA O EXCLUYE LA RESPONSABILIDAD DE spiller, SUS
    SUBSIDIARIAS, AFILIADAS, SUCESORES, Y CESIONARIOS, Y SUS RESPECTIVOS EMPLEADOS, AGENTES, DIRECTORES, OFICIALES Y
    ACCIONISTAS: (I) POR LA MUERTE O DAÑOS PERSONALES CAUSADOS POR LA NEGLIGENCIA DE UNOS O DE OTROS, (II) POR CUALQUIER
    FORMA DE FRAUDE O ENGAÑO, (III) POR CUALESQUIERA DAÑOS CAUSADOS DE FORMA DOLOSA O CON NEGLIGENCIA GRAVE, O (IV) POR
    CUALQUIER FORMA DE RESPONSABILIDAD QUE POR LEY NO PUEDA SER LIMITADO O EXCLUIDO.</p>
<h2 id="indemnización">Indemnización</h2>
<p>Por la presente usted acepta indemnizar, defender y mantener indemne a spiller, sus sucesores, cesionarios,
    afiliados, agentes, directores, oficiales, empleados y accionistas de y contra cualesquiera reclamaciones,
    obligaciones, daños, pérdidas, gastos y costes, incluyendo honorarios razonables de abogados, derivados de:</p>
<p>(i) cualquier violación por su parte de estos Términos y Condiciones de Uso o de nuestras Normas de la Comunidad;</p>
<p>(ii) cualquier reclamación de terceros por la infracción de derechos de propiedad intelectual, o por la invasión de
    privacidad derivada del almacenamiento de Sus Contenidos en la Plataforma, y/o la puesta a disposición por su parte
    de los mismos de otros usuarios de la Plataforma, y/o el uso efectivo de Sus Contenidos por otros usuarios de la
    Plataforma o de los Servicios Enlazados de acuerdo con estos Términos y Condiciones de Uso y los parámetros por
    usted establecidos con respecto a la distribución de Sus Contenidos y el acto de compartir los mismos;</p>
<p>(iii) cualquier actividad relacionada con tu cuenta, ya sea llevada a cabo por ti o por otra persona que acceda a su
    cuenta con o sin su consentimiento, salvo que dicha actividad haya sido causada por acción u omisión de spiller.</p>
<h2 id="protección-de-datos-privacidad-y-cookies">Protección de datos, Privacidad y Cookies</h2>
<p>Todos los datos personales que nos proporcione en conexión con el uso por su parte de la Plataforma serán
    recopilados, almacenados, revelados y de cualquier otra manera tratados por spiller de acuerdo con nuestra Política
    de Privacidad. Además, tal como hacen la mayoría de servicios en línea, usamos cookies para mejor entender cómo
    utiliza la gente la Plataforma, de manera que podamos continuar mejorando el servicio que ofrecemos. Nuestro uso de
    cookies, y el modo de desactivarlas, se explica en nuestra Política de Cookies.</p>
<h2 id="divisibilidad">Divisibilidad</h2>
<p>En caso de que se entendiera que una o más disposiciones de estos Términos y Condiciones de Uso no se ajustan a la
    ley, son nulas o inaplicables, dicha(s) disposición(es) se considerarán separables del Contrato y no afectarán a la
    validez o a la eficacia del resto de las disposiciones de dichos Términos y Condiciones de Uso, que permanecerán en
    vigor y surtirán plenos efectos.</p>
<h2 id="contrato-completo">Contrato completo</h2>
<p>Estos Términos y Condiciones de Uso, junto con nuestras Normas de la Comunidad , constituyen el acuerdo completo
    entre usted y spiller con relación al uso de la Plataforma (distinto de cualquier otro uso de las APIs de spiller's
    que puedan estar también sujetas por separado a unos Términos y Condiciones de Uso de las API), y sustituyen a
    cualquier acuerdo previo entre usted y spiller. Cualquier modificación del presente Contrato deberá realizarse por
    escrito.</p>
<h2 id="derechos-de-terceros">Derechos de Terceros</h2>
<p>Estos Términos y Condiciones de Uso no están destinados a otorgar derechos a nadie excepto a usted y a spiller. Ello
    no afecta a nuestro derecho a transmitir nuestros derechos u obligaciones a terceros tal como se describe en la
    sección [Cesión a Terceros].</p>
<h2 id="ley-aplicable-y-jurisdicción">Ley Aplicable y Jurisdicción</h2>
<p>Salvo en aquellos casos en que normas imperativas en los Estados Unidos o en cualquier estado miembro de la Unión
    Europea exijan algo distinto</p>
<p>(i) este Contrato está sometido a las leyes de la República Federal de Alemania, con exclusión del Convenio de
    Naciones Unidas sobre Contratos para la Venta Internacional de Mercancías (CISG en sus siglas en inglés) y
    excluyendo las normas de conflicto aplicables (de derecho internacional privado); y</p>
<p>(ii) usted acepta, y spiller acepta, someterse a la jurisdicción exclusive de los juzgados y tribunales de la ciudad
    de Berlín, Alemania, para la resolución de cualquier disputa, acción o procedimiento que pudiera tener lugar en
    conexión con este Contrato.</p>
<p>Las disposiciones precedentes de esta sección sobre Ley Aplicable y Jurisdicción no serán aplicables a aquellas
    reclamaciones en las que spiller persiga una compensación o remedio equitativo de cualquier tipo distinto al
    monetario. Usted reconoce que, en caso de incumplimiento de este contrato por parte de spiller o de cualquier
    tercero, el daño o perjuicio, si existiera, que se le hubiera causado no le dará derecho a reclamar compensación
    equitativa de ningún tipo más allá de una indemnización monetaria por daños contra spiller, incluso en relación con
    Sus Contenidos, y el único remedio que podrá reclamar será una indemnización monetaria, todo ello con sujeción a las
    limitaciones de responsabilidad previstas en estos Términos y Condiciones de Uso.</p>
</ul>
</div>