<!--Inicio del contenedor-->
<div class="d-flex align-items-center justify-content-center pt-5 mt-5">
    <div class="text-center">
        <h1 class="display-1 fw-bold">500</h1><!---Titulo-->
        <p class="fs-3"> <span class="text-danger">Opps!</span> El servidor no responde</p>
        <p class="lead">
            Parece que el servidor no responde, intenta de nuevo m&aacute;s tarde.                    
        </p>
        <a href="/" class="btn btn-primary">Inicio</a><!--Boton de ir a inicio-->
    </div>
</div>
<!--Fin del contenedor-->